@use 'base.scss' as *;

.loginBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    aspect-ratio: 3/1;
    text-decoration: none;
    color: white;
    background-color: black;
}