@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@mixin montserrat($weight) {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

button,a {
  cursor: pointer;
  font-family: Montserrat;
  border: none;
  border-radius: 10px;
}
.animateBtn{
  transition: transform 0.2s ease;
  &:hover{
    transform: translate(0,-5px);
  }
}


$aqua: #00eeff;